{% layout "layout.liquid" %}
{% block content %}
<div class="new-player">
<h1>Edit {{player.name}}</h1>
<form action="/players/{{player._id}}?_method=PUT" method="post">
<ul>
   <li>Name: <input type="text" name="name" value="{{player.name}}"></li>
   <li>Image: <input type="text" name="img" value="{{player.img}}"></li>
   <li>Poistion: <input type="text" name="position" value="{{player.position}}"></li>
   <li>Jersey #: <input type="number" name="jerseyNumber"value="{{player.jerseyNumber}}"></li>
   <li>Height: <input type="number" name="height[feet]"value="{{player.height.feet}}" id="height"> ft <input type="number" name="height[inches]" value="{{player.height.inches}}" id="height"> in</li>
   <li>Weight: <input type="number" name="weight" value="{{player.weight}}"></li>
   <li>DominantHand: Left<input type="checkbox" name="dominantHand" value="Left" {% if player.dominantHand=="Left" %} checked {%endif%}> Right<input type="checkbox" name="dominantHand" value="Right" {% if player.dominantHand=="Right" %} checked {%endif%}></li>
   <li><input type="submit" value="Update Player"></li>
</ul> 
</form>
</div>
{% endblock %}